<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn variables in ejs</title>
</head>

<body>
    <!-- <% %>  tags we use in ejs-->
    <h2>Tags we use in EJS < % % >
    </h2>

    <!-- using variables -->
    <h1>Variables in EJS</h1>
    <!-- <%=  %>  here we use = sign to assign value-->
    <h2>
        <%= name %>
    </h2>
    <h2><%=name.toUpperCase()%></h2>
    <h2><%=name.toLowerCase()%></h2>
    <h3>2 + 2 = <%= 2+2%></h3>
</body>

</html>